
.top-part { 
  height: 64%;
  width: 99.5%;
  background-image: url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  position: absolute;
  background-size: 100% auto;
  overflow: hidden;
  z-index: 89;
}

nav {
  margin: 37px 17% 0px;
  border: 1px solid;
  border-radius: 5px;  
  position: absolute;
  width: 70%;
  z-index: 99;
  height: 40px;
  background: linear-gradient( to bottom, rgb(119, 124, 120) 5%, rgb(105, 105, 105) 11%, rgb(100, 100, 100) 50%, rgb(82, 82, 82) 51%, rgb(100, 105, 101) 100% );
}

nav ul {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-evenly; 
  margin: 0 0 0 0;
  color: white;
  align-items: center;
  padding-left: 0px;
}

ul li {
  display: flex; 
  justify-content: center;
  align-items: center;
  list-style: none;  
  border-left: 1px solid rgb(68, 68, 68);
  flex: 1;
  text-align: center;
  height: 40px;
}

ul:first-child {
  border-left: none;
}

ul li:hover {
  opacity: 0.5;
}

input {
  border-radius: 10px;
  width: 83px;
  margin-right: 10px;
  background-color: transparent;
}

span {
  margin-right: 10px;
  margin-left: 10px;
}

.what-will-container { 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 143px;
  margin-left: 79px;
  height: 55%;
}

.what-will-container img {
  width: 80%; 
  display: flex;
  flex-direction: column;
}   


.will-1 {
  background-color: azure;
	background: url(./images/your_verse_title_small_2x.png) no-repeat 49.931% 54.321%;
	width: 1231px;
  height: 121px;
  background-size: cover;
}

.will-2 {  
	background: url(./images/your_verse_subhead_small_2x.png) no-repeat 49.878% 63.158%;
	width: 1248px;
  height: 107px;
  background-size: contain;
  margin-top: -45px;
}

.will-3 { 
	background: url(./images/cta_your_verse_27pt_2x.png) no-repeat 49.773% 6.849%;
	width: 1080px;
	height: 55px;
}

.bottom-part {
  position: absolute;
  bottom: 0;
  height: 266px;
  width: 99.5%;
}

.bottom-part ul {
  display: flex;
  justify-content: start;
  padding-left: 0px;
  height: 100%;
  margin-top: -10px;
}

.bottom-part ul li {  
  height: 100%;
  border-left: none; 
}

.bot-iphone-1 { 
  background: url(./images/iphone5S.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 76%;
}

.bot-iphone-2 {
  background: url(images/iphone5C2.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 76%;
}

.bot-iphone-3  {
  background: url(./images/happybirthday.jpg);  
  background-repeat: no-repeat;
  background-size: 100% 76%;
}

.bot-iphone-4 {
  background: url(./images/supplier.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 76%;
}
