main {
  margin: 0 auto;
  width: 100%;
  background-image: url("./images/hero.jpg");  
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: left bottom;
}

.top-part {
  height: 507px;  
  margin: 0px 4%;
}

nav {
  margin: 0 auto 0 auto;  
  border: 1px solid;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}

.what-will-container {   
    width: 80%;
    height: 30%;
    padding: 2% 18% 0;
    box-sizing: content-box;
}

.what-will-container img {
    width: 80%;    
}

.what-will-container img:nth-child(1) {
  object-fit: cover;
  object-position: 0 0;
  height: 88px;
}

.what-will-container img:nth-child(3) {
  height: 30px;
  object-fit: cover;
  object-position: 0 0;
}